
.page-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-icon {
    height: 20px;
    margin-left: auto;
}

.game-header {
    display:flex;
    width: 100%;
}

.game-main {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.grin-icon {
    height: 200px;
    width: 200px;
}

.game-footer {
    margin-right: auto;
}

.shopcart-icon {
    width: 25px;
}

.counter-icon {
    height: 20px;
    width: 20px;
    padding-left: 20px;
}

.counter-value {
    padding-left: 10px;
}

.menu {
    border: 1px solid black;
}

.menu:hover {
    background-color: lightgray;
}