
.page-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-icon {
    height: 20px;
}

.game-header {
    display:flex;
    justify-content: space-between;
    width: 100%;
    flex-basis: 10%;
}

.grin-icon {
    height: 200px;
    width: 200px;
}
