body {
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

img {
  margin: 3%;
}
.home-btn {
  height: 50px;
  width: 150px;
  margin-bottom: 1%;
  border: none;
  display: block;
  background: #30C223;
}

.home-btn:hover {
  cursor: pointer;
}